In [7]:
import pandas as pd
import numpy as np

In [8]:
df1 = pd.read_csv(r"C:\Users\hares\Downloads\churn_data.csv")

In [9]:
df2 = pd.read_csv(r"C:\Users\hares\Downloads\customer_data.csv")

In [10]:
df3 = pd.read_csv(r"C:\Users\hares\Downloads\internet_data.csv")

In [12]:
df4 = pd.merge(df1,df2,how='inner',on='customerID')

In [13]:
df = pd.merge(df4,df3,how='inner',on='customerID')

In [14]:
df.shape

(7043, 21)

In [15]:
df.columns

Index(['customerID', 'tenure', 'PhoneService', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn', 'gender',
       'SeniorCitizen', 'Partner', 'Dependents', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies'],
      dtype='object')

In [16]:
var_list = ['PhoneService','PaperlessBilling','Churn','Partner','Dependents']

In [18]:
def binary_map(x):
    return x.map({'Yes' : 1, 'No' : 0})

df[var_list] = df[var_list].apply(binary_map)

In [19]:
df[var_list]

      PhoneService  PaperlessBilling  Churn  Partner  Dependents
0                0                 1      0        1           0
1                1                 0      0        0           0
2                1                 1      1        0           0
3                0                 0      0        0           0
4                1                 1      1        0           0
...            ...               ...    ...      ...         ...
7038             1                 1      0        1           1
7039             1                 1      0        1           1
7040             0                 1      0        1           1
7041             1                 1      1        1           0
7042             1                 1      0        0           0

[7043 rows x 5 columns]

In [20]:
df.columns

Index(['customerID', 'tenure', 'PhoneService', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn', 'gender',
       'SeniorCitizen', 'Partner', 'Dependents', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies'],
      dtype='object')

In [21]:
dummy = pd.get_dummies(df[['Contract','PaymentMethod','gender','InternetService']],drop_first=True)

df = pd.concat([df, dummy],axis=1)

In [22]:
df

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,...,StreamingTV,StreamingMovies,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,gender_Male,InternetService_Fiber optic,InternetService_No
0,7590-VHVEG,1,0,Month-to-month,1,Electronic check,29.85,29.85,0,Female,...,No,No,0,0,0,1,0,0,0,0
1,5575-GNVDE,34,1,One year,0,Mailed check,56.95,1889.5,0,Male,...,No,No,1,0,0,0,1,1,0,0
2,3668-QPYBK,2,1,Month-to-month,1,Mailed check,53.85,108.15,1,Male,...,No,No,0,0,0,0,1,1,0,0
3,7795-CFOCW,45,0,One year,0,Bank transfer (automatic),42.30,1840.75,0,Male,...,No,No,1,0,0,0,0,1,0,0
4,9237-HQITU,2,1,Month-to-month,1,Electronic check,70.70,151.65,1,Female,...,No,No,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,24,1,One year,1,Mailed check,84.80,1990.5,0,Male,...,Yes,Yes,1,0,0,0,1,1,0,0
7039,2234-XADUH,72,1,One year,1,Credit card (automatic),103.20,7362.9,0,Female,...,Yes,Yes,1,0,1,0,0,0,1,0
7040,4801-JZAZL,11,0,Month-to-month,1,Electronic check,29.60,346.45,0,Female,...,No,No,0,0,0,1,0,0,0,0
7041,8361-LTMKD,4,1,Month-to-month,1,Mailed check,74.40,306.6,1,Male,...,No,No,0,0,0,0,1,1,1,0
7042,3186-AJIEK,66,1,Two year,1,Bank transfer (automatic),105.65,6844.5,0,Male,...,Yes,Yes,0,1,0,0,0,1,1,0

In [23]:
ml = pd.get_dummies(df['MultipleLines'],prefix='MultipleLines')

ml1 = ml.drop(['MultipleLines_No phone service'],1)

In [24]:
ml1

      MultipleLines_No  MultipleLines_Yes
0                    0                  0
1                    1                  0
2                    1                  0
3                    0                  0
4                    1                  0
...                ...                ...
7038                 0                  1
7039                 0                  1
7040                 0                  0
7041                 0                  1
7042                 1                  0

[7043 rows x 2 columns]

In [25]:
os = pd.get_dummies(df['OnlineSecurity'],prefix='OnlineSecurity')

os1 = os.drop(['OnlineSecurity_No internet service'],1)

In [26]:
os1

      OnlineSecurity_No  OnlineSecurity_Yes
0                     1                   0
1                     0                   1
2                     0                   1
3                     0                   1
4                     1                   0
...                 ...                 ...
7038                  0                   1
7039                  1                   0
7040                  0                   1
7041                  1                   0
7042                  0                   1

[7043 rows x 2 columns]

In [27]:
ob = pd.get_dummies(df['OnlineBackup'],prefix='OnlineBackup')

ob1 = ob.drop(['OnlineBackup_No internet service'],1)

In [29]:
dp = pd.get_dummies(df['DeviceProtection'],prefix='DeviceProtection')

dp1 = dp.drop(['DeviceProtection_No internet service'],1)

In [32]:
ts = pd.get_dummies(df['TechSupport'],prefix='TechSupport')

In [34]:
ts1 = ts.drop(['TechSupport_No internet service'],1)

In [35]:
df.columns

Index(['customerID', 'tenure', 'PhoneService', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn', 'gender',
       'SeniorCitizen', 'Partner', 'Dependents', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract_One year',
       'Contract_Two year', 'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
       'gender_Male', 'InternetService_Fiber optic', 'InternetService_No'],
      dtype='object')

In [36]:
stv = pd.get_dummies(df['StreamingTV'],prefix='StreamingTV')

stv1 = stv.drop(['StreamingTV_No internet service'],1)

In [37]:
sm = pd.get_dummies(df['StreamingMovies'],prefix='StreamingMovies')

sm1 = sm.drop(['StreamingMovies_No internet service'],1)

In [40]:
df5 = pd.concat([df,ml1,os1,dp1,ts1,stv,sm],axis=1)

In [71]:
df5 = pd.concat([df5,ob1],axis=1)

In [41]:
df5

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,...,DeviceProtection_No,DeviceProtection_Yes,TechSupport_No,TechSupport_Yes,StreamingTV_No,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes
0,7590-VHVEG,1,0,Month-to-month,1,Electronic check,29.85,29.85,0,Female,...,1,0,1,0,1,0,0,1,0,0
1,5575-GNVDE,34,1,One year,0,Mailed check,56.95,1889.5,0,Male,...,0,1,1,0,1,0,0,1,0,0
2,3668-QPYBK,2,1,Month-to-month,1,Mailed check,53.85,108.15,1,Male,...,1,0,1,0,1,0,0,1,0,0
3,7795-CFOCW,45,0,One year,0,Bank transfer (automatic),42.30,1840.75,0,Male,...,0,1,0,1,1,0,0,1,0,0
4,9237-HQITU,2,1,Month-to-month,1,Electronic check,70.70,151.65,1,Female,...,1,0,1,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,24,1,One year,1,Mailed check,84.80,1990.5,0,Male,...,0,1,0,1,0,0,1,0,0,1
7039,2234-XADUH,72,1,One year,1,Credit card (automatic),103.20,7362.9,0,Female,...,0,1,1,0,0,0,1,0,0,1
7040,4801-JZAZL,11,0,Month-to-month,1,Electronic check,29.60,346.45,0,Female,...,1,0,1,0,1,0,0,1,0,0
7041,8361-LTMKD,4,1,Month-to-month,1,Mailed check,74.40,306.6,1,Male,...,1,0,1,0,1,0,0,1,0,0
7042,3186-AJIEK,66,1,Two year,1,Bank transfer (automatic),105.65,6844.5,0,Male,...,0,1,0,1,0,0,1,0,0,1

In [42]:
df.columns

Index(['customerID', 'tenure', 'PhoneService', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn', 'gender',
       'SeniorCitizen', 'Partner', 'Dependents', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract_One year',
       'Contract_Two year', 'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
       'gender_Male', 'InternetService_Fiber optic', 'InternetService_No'],
      dtype='object')

In [43]:
df5 = df5.drop(['Contract','PaymentMethod','gender','MultipleLines','InternetService',
                'OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport',
                'StreamingTV','StreamingMovies'],1)

In [44]:
df5

,customerID,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,SeniorCitizen,Partner,Dependents,...,DeviceProtection_No,DeviceProtection_Yes,TechSupport_No,TechSupport_Yes,StreamingTV_No,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes
0,7590-VHVEG,1,0,1,29.85,29.85,0,0,1,0,...,1,0,1,0,1,0,0,1,0,0
1,5575-GNVDE,34,1,0,56.95,1889.5,0,0,0,0,...,0,1,1,0,1,0,0,1,0,0
2,3668-QPYBK,2,1,1,53.85,108.15,1,0,0,0,...,1,0,1,0,1,0,0,1,0,0
3,7795-CFOCW,45,0,0,42.30,1840.75,0,0,0,0,...,0,1,0,1,1,0,0,1,0,0
4,9237-HQITU,2,1,1,70.70,151.65,1,0,0,0,...,1,0,1,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,24,1,1,84.80,1990.5,0,0,1,1,...,0,1,0,1,0,0,1,0,0,1
7039,2234-XADUH,72,1,1,103.20,7362.9,0,0,1,1,...,0,1,1,0,0,0,1,0,0,1
7040,4801-JZAZL,11,0,1,29.60,346.45,0,0,1,1,...,1,0,1,0,1,0,0,1,0,0
7041,8361-LTMKD,4,1,1,74.40,306.6,1,1,1,0,...,1,0,1,0,1,0,0,1,0,0
7042,3186-AJIEK,66,1,1,105.65,6844.5,0,0,0,0,...,0,1,0,1,0,0,1,0,0,1

In [60]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customerID                             7043 non-null   object
 1   tenure                                 7043 non-null   int64
 2   PhoneService                           7043 non-null   int64
 3   PaperlessBilling                       7043 non-null   int64
 4   MonthlyCharges                         7043 non-null   float64
 5   TotalCharges                           7043 non-null   object
 6   Churn                                  7043 non-null   int64
 7   SeniorCitizen                          7043 non-null   int64
 8   Partner                                7043 non-null   int64
 9   Dependents                             7043 non-null   int64
 10  Contract_One year                      7043 non-null   uint8
 11  Contract_Two year                      7043 non-null   uint8
 12  PaymentMethod_Credit card (automatic)  7043 non-null   uint8
 13  PaymentMethod_Electronic check         7043 non-null   uint8
 14  PaymentMethod_Mailed check             7043 non-null   uint8
 15  gender_Male                            7043 non-null   uint8
 16  InternetService_Fiber optic            7043 non-null   uint8
 17  InternetService_No                     7043 non-null   uint8
 18  MultipleLines_No                       7043 non-null   uint8
 19  MultipleLines_Yes                      7043 non-null   uint8
 20  OnlineSecurity_No                      7043 non-null   uint8
 21  OnlineSecurity_Yes                     7043 non-null   uint8
 22  DeviceProtection_No                    7043 non-null   uint8
 23  DeviceProtection_Yes                   7043 non-null   uint8
 24  TechSupport_No                         7043 non-null   uint8
 25  TechSupport_Yes                        7043 non-null   uint8
 26  StreamingTV_No                         7043 non-null   uint8
 27  StreamingTV_No internet service        7043 non-null   uint8
 28  StreamingTV_Yes                        7043 non-null   uint8
 29  StreamingMovies_No                     7043 non-null   uint8
 30  StreamingMovies_No internet service    7043 non-null   uint8
 31  StreamingMovies_Yes                    7043 non-null   uint8
dtypes: float64(1), int64(7), object(2), uint8(22)
memory usage: 1.1+ MB

In [61]:
df5.TotalCharges.value_counts()

           11
20.2       11
19.75       9
20.05       8
19.65       8
           ..
1423.35     1
1245.6      1
4194.85     1
1556.85     1
5497.05     1
Name: TotalCharges, Length: 6531, dtype: int64

In [65]:
inx = df5[df5.TotalCharges == ' '].index

In [67]:
df5.drop([488, 753, 936, 1082, 1340, 3331, 3826, 4380, 5218, 6670, 6754],axis=0,inplace=True)

In [68]:
df5.TotalCharges = pd.to_numeric(df5.TotalCharges)

In [70]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customerID                             7032 non-null   object
 1   tenure                                 7032 non-null   int64
 2   PhoneService                           7032 non-null   int64
 3   PaperlessBilling                       7032 non-null   int64
 4   MonthlyCharges                         7032 non-null   float64
 5   TotalCharges                           7032 non-null   float64
 6   Churn                                  7032 non-null   int64
 7   SeniorCitizen                          7032 non-null   int64
 8   Partner                                7032 non-null   int64
 9   Dependents                             7032 non-null   int64
 10  Contract_One year                      7032 non-null   uint8
 11  Contract_Two year                      7032 non-null   uint8
 12  PaymentMethod_Credit card (automatic)  7032 non-null   uint8
 13  PaymentMethod_Electronic check         7032 non-null   uint8
 14  PaymentMethod_Mailed check             7032 non-null   uint8
 15  gender_Male                            7032 non-null   uint8
 16  InternetService_Fiber optic            7032 non-null   uint8
 17  InternetService_No                     7032 non-null   uint8
 18  MultipleLines_No                       7032 non-null   uint8
 19  MultipleLines_Yes                      7032 non-null   uint8
 20  OnlineSecurity_No                      7032 non-null   uint8
 21  OnlineSecurity_Yes                     7032 non-null   uint8
 22  DeviceProtection_No                    7032 non-null   uint8
 23  DeviceProtection_Yes                   7032 non-null   uint8
 24  TechSupport_No                         7032 non-null   uint8
 25  TechSupport_Yes                        7032 non-null   uint8
 26  StreamingTV_No                         7032 non-null   uint8
 27  StreamingTV_No internet service        7032 non-null   uint8
 28  StreamingTV_Yes                        7032 non-null   uint8
 29  StreamingMovies_No                     7032 non-null   uint8
 30  StreamingMovies_No internet service    7032 non-null   uint8
 31  StreamingMovies_Yes                    7032 non-null   uint8
dtypes: float64(2), int64(7), object(1), uint8(22)
memory usage: 755.4+ KB

In [75]:
df5.OnlineBackup_Yes.count()

7043

In [79]:
ob[ob['OnlineBackup_No internet service']==1]

      OnlineBackup_No  OnlineBackup_No internet service  OnlineBackup_Yes
11                  0                                 1                 0
16                  0                                 1                 0
21                  0                                 1                 0
22                  0                                 1                 0
33                  0                                 1                 0
...               ...                               ...               ...
7017                0                                 1                 0
7019                0                                 1                 0
7020                0                                 1                 0
7030                0                                 1                 0
7037                0                                 1                 0

[1526 rows x 3 columns]